<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Department Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="DepartmentName"
        placeholder="Nombre Departamento">
    </div>
</div>

<buton (click)="addDepartment()" *ngIf="dep.DepartmentId==0" class="btn btn-primary">Add Department</buton>
<buton (click)="updateDepartment()" *ngIf="dep.DepartmentId!=0" class="btn btn-primary">Edit Department</buton>