<div class="d-flex flex-row bd-highlight mb-3">
    <div class="form-group row" style="width: 60%;">
        <label class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="EmployeeName" placeholder="Nombre Empleado">
        </div>

        <label class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="Department">
                <option>--Select--</option>
                <option *ngFor="let depName of DepartmentsList">
                    {{depName.DepartmentName}}
                </option>
            </select>
        </div>
        <label class="col-sm-2 col-form-label">DateOfJoining</label>
        <div class="col-sm-10">
            <input type="date" [(ngModel)]="DateOfJoining">
        </div>
    </div>
    <div class="ml-3 bd-highlight" style="width: 40%;">
        <img [src]=PhotoFilePath height="250px;" width="200px;">
        <input type="file" (change)="uploadPhoto($event)" class="mt-2">
    </div>
</div>

    <buton (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">Add Employee</buton>
    <buton (click)="updateEmployee()" *ngIf="emp.Employee!=0" class="btn btn-primary">Edit Employee</buton>
